<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>For Dummies</title>
		<style>
		.col {
			text-align: center;
		}
		.col h2 {
			veritcal-margin: 20px;
		}
		.col smallThought {
			vertical-margin: 30px;
		}
		</style>
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col">
			<p> <p>
			<h2>
				Step One: Find a Good Candidate
			</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h4>
				You can't just attack any Eboard member you please! You need to find someone who's standing on shaky foundations. Ideally, find somebody who's stressed about both school and life in general. If you find someone
				making jokes about dropping out, they're a perfect target. Even better, finding someone who's extremely knowledgeable of drama gives you an edge, as people may already be concerned about what your new target
				knows.
			</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h2>
				Step Two: Create and Cultivate a Demeaning Joke About Your Target
			</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h4>
				Few things hurt more than betrayal. You don't actually have to be friends with your target, as long as you can get the target's friends to act demeaning towards them. The best way to accomplish this is to 
				create an "in-joke" that the target hates but everyone else loves! Make sure it's simple, concise, and nobody thinks it's mean-spirited (even though it is.) For example, a classic is to just do "Fuck ________,"
				and just insert the target's name in the blank.
			</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h2>
				Step Three: Alienation and Pressure
			</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h4>
				Now that the target feels as though they're under attack from their own friends, even though it's not true, they'll react by pushing their friends away. This is the perfect opportunity for you! When the target's
				friends get confused about why the target is avoiding them, you can convince them to pressure the target to open up to them about it. Since the target feels demeaned by these exact people, they'll react poorly.
				Here's where you play both sides for a bit; make sure to let the target's friends complain to you so you can reinforce that feeling, while also letting the target complain to you and being dismissive of it.
			</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h2>
				Step Four: When They Need Someone Most...
			</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h4>
				This is the crucial point. A healthy talk between the target and the target's friends, or new friends, can turn things around. If they try to reconnect with their friends, prevent it. If they try and make new
				friends, for example among a group of freshman, attack the target's integrity as a member of your group. You can also accuse your target of manipulating whatever new group of friends they've made. Distrust
				is your best friend here.
			</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h2>
				Step Five: The Target Strikes Back
			</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h4>
				Your target isn't going to sit there and take it forever. Eventually, they'll strike back. Even though it might look bad, it's actually a huge opportunity for you. Being angry and sad, they aren't going to go
				about their attack in a professional manner. They'll go too far, make a post somewhere they shouldn't, or do something else unwise. Now that the target attacked you first, retaliation is encouraged. Just
				don't go overboard like the target did. Your response should be professional yet aloof, allowing you near-total control of the situation.
			</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h2>
				Step Six: It's Over
			</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<h4>
				Your target, attacked and betrayed, will take the final step and leave Eboard. They may even go a step further and leave the whole of RIT. With your mission accomplished, you can pat yourself on the back
				and declare another job well done, with only one thought still lingering:
			</h4>
			<p class="smallThought">
				What have I done?
			</p>
			</div>
			
		</div>
		
	</div>
	<a href="{{ url_for('home') }}" class="links">Back to Home Page</a>
	<div class="row">
		<div class="col text-center">
			<h1>Designed by Dan!</h1>
		</div>
	</div>
	</body>
</html>